#joke {
    width: 75%;
    margin: 20px auto;
    background-color: bisque;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#jokeTitle{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo {
    font-size: 35px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553C9A, #B393D3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 0px 4px 10px rgba(179, 147, 211, 0.8)
}